NET SRESET	    LOC=P21;
NET BRESET	    LOC=P18;
NET DUART_DTACK LOC=P2;
NET HALT        LOC=P39;
NET BERR        LOC=P33;
NET RESET       LOC=P37;
NET CPU_DTACK   LOC=P38;
NET DUARTCS     LOC=P1;

NET ABUS<0>	    LOC=P36;
NET ABUS<1>	    LOC=P34;
NET ABUS<2>	    LOC=P31;
NET ABUS<3>	    LOC=P29;
NET ABUS<4>	    LOC=P32;

NET LED<0>	    LOC=P3;
NET LED<1>	    LOC=P5;
NET LED<2>	    LOC=P6;
NET LED<3>	    LOC=P8;
NET LED<4>	    LOC=P7;
NET LED<5>	    LOC=P12;

NET CLK         LOC=P44;
NET AS          LOC=P42;
NET UDS         LOC=P40;
NET LDS         LOC=p41;

NET ROMLOE      LOC=P28;
NET ROMLCE      LOC=P30;

NET ROMHOE      LOC=P19;
NET ROMHCE      LOC=P20;

NET RAMLCE<0>   LOC=P27;
NET RAMLCE<1>   LOC=P22;
NET RAMLOE      LOC=P23;

NET RAMHCE<0>   LOC=P16;
NET RAMHCE<1>   LOC=P14;
NET RAMHOE      LOC=P13;