NET SRESET	    LOC=P18;
NET BRESET	    LOC=P19;
NET DUART_DTACK LOC=P44;
NET HALT        LOC=P39;
NET BERR        LOC=P38;
NET RESET       LOC=P37;
NET CPU_DTACK   LOC=P40;
NET DUARTCS     LOC=P3;

NET ABUS<0>	    LOC=P35;
NET ABUS<1>	    LOC=P36;
NET ABUS<2>	    LOC=P33;
NET ABUS<3>	    LOC=P34;
NET ABUS<4>	    LOC=P29;

NET LED<0>	    LOC=P2;
NET LED<1>	    LOC=P4;
NET LED<2>	    LOC=P5;
NET LED<3>	    LOC=P8;
NET LED<4>	    LOC=P7;
NET LED<5>	    LOC=P9;

NET CLK         LOC=P6;
NET AS          LOC=P1;
NET UDS         LOC=P42;
NET LDS         LOC=p43;

NET ROMLOE      LOC=P26;
NET ROMLCE      LOC=P28;

NET ROMHOE      LOC=P20;
NET ROMHCE      LOC=P22;

NET RAMLCE<0>   LOC=P27;
NET RAMLCE<1>   LOC=P25;
NET RAMLOE      LOC=P24;

NET RAMHCE<0>   LOC=P13;
NET RAMHCE<1>   LOC=P11;
NET RAMHOE      LOC=P14;